html {
  height: 100%;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

.top-img img{
  display: block; 
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

body{
  background: #f3f2f2;
}

.header{
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #ff9494;
  text-align: center;
}

.header a{
  text-decoration: none;
  margin: 0 90px;
  color: white;
}

.header a:hover{
  color: #F7CAC9;
}

.banner img{
  display: block; 
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.home-about{
  width: 1160px;
  height: 290px;
  margin: 30px auto;
  padding: 40px;
  background: white;
}

.home-about-img{
  float: left;
  width: 400px;
  height: 100%;
}

.home-about-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-about-text{
  float: right;
  background: white;
  width: 740px;
}

.home-about-text h3{
  margin-bottom: 20px;
  font-size: 25px;
}

.home-about-text p{
  text-indent: 2em;
  margin-bottom: 10px;
  line-height: 2.0;
}

.page-title{
  width: 1200px;
  margin: 20px auto;
}

.page-title h3{
  font-size: 25px;
  padding-left: 5px;
  border-left: 5px;
}

.img-box, .activity{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  height: 420px;
  margin: auto;
  padding: 20px;
}

.img-box img{
  width: 240px;
  height: 160px;
  margin-bottom: 10px;
  padding: 20px;
  background: white;
  box-shadow: inset 2x 3px 18px #ccc;
}

.activity{
  height: auto;
  margin-bottom: 20px;
}

.activity-left{
  width: 500px;
  height: 350px;
  background: #fff;
  transition: all 0.3s;
}

.activity-left-img{
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.activity-left-img img{
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.activity-left:hover{
  transform: translateY(-10px);
  box-shadow: 2px 1px 10px #ccc;
}

.activity-left-img:hover img{
  transform: scale(1.2);
}

.activity-left p{
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}

.activity-right{
  width: 630px;
  background: white;
  padding: 20px;
}

.activity-right h3{
  font-size: 25px;
}

.activity-right p{
  display: block;
  color: black;
  padding: 10px 0;
  font-size: 23px;
}

.footer{
  text-align: center;
  background:#ff9494;
  color: white;
  padding: 10px 0;
}
